.mail {
    flex:1;
    background-color: whitesmoke;
    height:max-content;
}

.mail-tools {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.mail-toolsLeft {
    display: flex;
}

.mail-body {
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color: white;
    padding: 20px;
    min-height: 700px;
    height: auto;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.25);
}

.mail-bodyHeader {
    display: flex;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    padding: 20px;
    position: relative;
}

.mail-important {
    color: #e8ab02 !important;
}

.mail-bodyHeader > h2 {
    font-weight: 400;
    margin-right: 20px;
}

.mail-bodyHeader > p {
    margin-left: 20px;
}

.mail-time {
    position: absolute;
    top: 24px;
    right: 0;
    font-size: 12px;
    color: grey;
}

.mail-message > p {
    padding: 10px;
    margin-right: 20px;
    overflow-wrap: break-word;
}
.mail-subject{
    display: flex;
}

@media only screen and (max-width: 700px) {   
    .mail-bodyHeader{
    display: grid !important;
    margin-left: 0;
    }

    .mail-time {
        position: unset;
        margin-top: 5px;
    }
    
    .mail-bodyHeader > p{
        margin-left: 0;
    }
    .mail-message > p {
        margin-left: 10px;
    }
}

.mail-attachments {
    margin-top: 20px;
    padding: 10px;
  }
  
  .mail-attachmentGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .mail-attachmentImage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mail-attachmentImage img {
    max-width: 700px;
    max-height: 800px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .mail-attachmentImage p {
    font-size: 12px;
    color: #555;
    text-align: center;
    word-break: break-word;
  }
  
  .mail-attachmentLink {
    margin-bottom: 10px;
    display: inline-block; /* Ensures the box fits around the content */
  }
  .mail-attachmentLink a {
    text-decoration: none;
    color: #3079ed;
    font-weight: bold;
    display: inline-block; /* Makes the link behave like a block for padding and border */
    padding: 10px 15px; /* Adds space inside the box */
    border: 2px solid #3079ed; /* Adds a border around the link */
    border-radius: 8px; /* Rounds the corners */
    background-color: #f4f8fd; /* Light background color for a box effect */
    transition: background-color 0.3s, color 0.3s; /* Smooth hover effects */
  }
  .mail-attachmentLink a:hover {
    text-decoration: none; /* Keep it consistent */
    background-color: #e2ecf9; /* Slightly darker background on hover */
    color: #2056b5; /* Darker color for text on hover */
  }
  
  